mixin page-404(mods)
  -
    const baseName = 'page-404'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .page-404(class=allMods)&attributes(attributes)
    .page-404__img: img(src='../../images/404.png' alt='')
    .inner.page-404__inner
      .page-404__container
        a.page-404__logo(href='/')
          +ui-svg('icon_logo')
        .page-404__title Ошибка
        .page-404__err 404
        .page-404__descr Такой страницы не&nbsp;существует
        +ui-button('Вернуться на главную', 'page-404, --text')(href='/')
    block
