.products-slider {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: calc((100vw - 1280px) / 2);
    background: #fff;
    @include media-laptop {
      width: 20px;
    }
    @include media-tablet {
      content: none;
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: 310px minmax(0, 1fr);
    gap: 40px;
    @include media-laptop {
      grid-template-columns: 220px minmax(0, 1fr);
      gap: 5px;
    }
    @include media-tablet {
      display: block;
    }
  }
  &__title {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    background: #fff;
    @include media-tablet {
      display: block;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  &__slider {
    position: relative;
    flex-grow: 1;
    padding-top: 10px;
    @include media-tablet {
      padding-top: 0;
    }
    .swiper-wrapper {
      height: auto;
    }
  }
  &__item {
    --size: 260px;

    position: relative;
    width: var(--size);
    text-align: center;
    transition: opacity 0.4s $easeOutSine;
    @include media-laptop {
      --size: 220px;
    }
    @include media-tablet {
      --size: 128px;
    }
    &:hover {
      .products-slider__img {
        img {
          transform: scale(1.05);
        }
      }
    }
    &.swiper-slide-prev {
      opacity: 0;
    }
    &--hit,
    &--vegan,
    &--new {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 70px;
        height: 70px;
        background-size: contain;
        background-repeat: no-repeat;
        filter: drop-shadow(0 5px 10px rgb(0 0 0 / 0.2));
        @include media-laptop {
          top: 3px;
          left: 3px;
          width: 65px;
          height: 65px;
          filter: drop-shadow(0 5px 10px rgb(0 0 0 / 0.1));
        }
        @include media-tablet {
          top: 0;
          left: 0;
          width: 50px;
          height: 50px;
        }
      }
    }
    &--hit {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='69' height='69' fill='none'%3E%3Cpath fill='%23CF0' d='M33.527.088a8 8 0 0 1 1.672 0l5.472.575a8.002 8.002 0 0 1 1.636.348l5.233 1.7c.532.173 1.044.4 1.528.68l4.765 2.751a8 8 0 0 1 1.353.983l4.089 3.682c.415.374.79.79 1.119 1.243l3.234 4.451c.328.452.609.938.836 1.449l2.238 5.026c.227.51.4 1.044.517 1.59l1.144 5.383c.116.546.175 1.104.175 1.663v5.502c0 .559-.059 1.117-.175 1.663l-1.144 5.382a7.997 7.997 0 0 1-.517 1.59l-2.238 5.027c-.227.51-.508.996-.836 1.449l-3.234 4.451a8.002 8.002 0 0 1-1.12 1.243L55.187 61.6a7.996 7.996 0 0 1-1.353.983l-4.765 2.752c-.484.28-.996.507-1.528.68l-5.233 1.7c-.532.173-1.08.29-1.636.348l-5.472.575a8.005 8.005 0 0 1-1.672 0l-5.472-.575a8.002 8.002 0 0 1-1.636-.348l-5.233-1.7a8.004 8.004 0 0 1-1.528-.68l-4.765-2.751a8 8 0 0 1-1.353-.984L9.451 57.92a8 8 0 0 1-1.119-1.243l-3.234-4.451a8.005 8.005 0 0 1-.836-1.449L2.024 45.75a8 8 0 0 1-.517-1.59L.363 38.776a8 8 0 0 1-.175-1.663v-5.502a8 8 0 0 1 .175-1.663l1.144-5.382a8 8 0 0 1 .517-1.59l2.238-5.027c.227-.511.507-.997.836-1.449l3.234-4.451a8 8 0 0 1 1.12-1.243l4.088-3.682a8.004 8.004 0 0 1 1.353-.983l4.765-2.75a8 8 0 0 1 1.528-.681l5.233-1.7a8.002 8.002 0 0 1 1.636-.348l5.472-.575Z'/%3E%3Cpath fill='%23433C3C' d='M29.704 21.172v23.716h-6.167v-9.961H21.69v9.96h-6.167V21.173h6.167v8.481h1.846v-8.481h6.167Zm8.657 0v23.716h-6.167V21.172h6.167Zm14.897 0v4.746h-3.662v18.97H43.43v-18.97h-3.647v-4.746h13.476Z'/%3E%3C/svg%3E");
      }
    }
    &--vegan {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='69' height='69' fill='none'%3E%3Cpath fill='%23007C39' d='M33.527.088a8 8 0 0 1 1.672 0l5.472.575a8.002 8.002 0 0 1 1.636.348l5.233 1.7c.532.173 1.044.4 1.528.68l4.765 2.751a8 8 0 0 1 1.353.983l4.089 3.682c.415.374.79.79 1.119 1.243l3.234 4.451c.328.452.609.938.836 1.449l2.238 5.026c.227.51.4 1.044.517 1.59l1.144 5.383c.116.546.175 1.104.175 1.663v5.502c0 .559-.059 1.117-.175 1.663l-1.144 5.382a7.997 7.997 0 0 1-.517 1.59l-2.238 5.027c-.227.51-.508.996-.836 1.449l-3.234 4.451a8.002 8.002 0 0 1-1.12 1.243L55.187 61.6a7.996 7.996 0 0 1-1.353.983l-4.765 2.752c-.484.28-.996.507-1.528.68l-5.233 1.7c-.532.173-1.08.29-1.636.348l-5.472.575a8.005 8.005 0 0 1-1.672 0l-5.472-.575a8.002 8.002 0 0 1-1.636-.348l-5.233-1.7a8.004 8.004 0 0 1-1.528-.68l-4.765-2.751a8 8 0 0 1-1.353-.984L9.451 57.92a8 8 0 0 1-1.119-1.243l-3.234-4.451a8.005 8.005 0 0 1-.836-1.449L2.024 45.75a8 8 0 0 1-.517-1.59L.363 38.776a8 8 0 0 1-.175-1.663v-5.502a8 8 0 0 1 .175-1.663l1.144-5.382a8 8 0 0 1 .517-1.59l2.238-5.027c.227-.511.507-.997.836-1.449l3.234-4.451a8 8 0 0 1 1.12-1.243l4.088-3.682a8.004 8.004 0 0 1 1.353-.983l4.765-2.75a8 8 0 0 1 1.528-.681l5.233-1.7a8.002 8.002 0 0 1 1.636-.348l5.472-.575Z'/%3E%3Cpath fill='%23fff' d='M17.857 29.041 16.012 42h-5.147L8.883 29.041h3.525l1.104 9.453c.084-.69.228-2.383.43-5.078.117-1.504.247-2.962.39-4.375h3.525Zm9.532 6.709H22.28v2.803c0 .586.043.963.127 1.133.085.169.248.254.488.254.3 0 .498-.111.596-.333.104-.227.156-.664.156-1.308v-1.71h3.74v.958c0 .8-.051 1.416-.156 1.846-.097.43-.332.888-.703 1.377a3.479 3.479 0 0 1-1.416 1.103c-.566.24-1.279.361-2.138.361-.834 0-1.57-.12-2.207-.361-.638-.24-1.137-.57-1.495-.986a3.662 3.662 0 0 1-.732-1.387c-.137-.508-.205-1.243-.205-2.207v-3.78c0-1.132.153-2.024.459-2.675.306-.658.807-1.159 1.504-1.504.696-.352 1.497-.527 2.402-.527 1.107 0 2.018.211 2.735.634.722.417 1.227.974 1.513 1.67.293.69.44 1.664.44 2.92v1.719Zm-3.955-2.11v-.947c0-.67-.036-1.103-.108-1.298-.071-.196-.218-.293-.44-.293-.273 0-.442.084-.507.253-.065.163-.098.61-.098 1.338v.948h1.153Zm14.218-4.599v9.98c0 1.348-.032 2.22-.097 2.618-.059.39-.277.804-.655 1.24-.377.443-.905.778-1.582 1.006-.67.234-1.517.351-2.539.351-1.256 0-2.265-.214-3.027-.644-.762-.423-1.156-1.26-1.182-2.51h3.828c0 .573.209.86.625.86.3 0 .498-.089.596-.264.098-.176.147-.544.147-1.104v-.976a3.732 3.732 0 0 1-1.075.693 2.988 2.988 0 0 1-1.172.234c-.71 0-1.295-.143-1.757-.43-.456-.286-.768-.66-.938-1.122-.17-.47-.254-1.133-.254-1.992v-4.708c0-1.23.222-2.115.664-2.656.443-.54 1.117-.81 2.022-.81.495 0 .944.1 1.347.302.41.202.775.505 1.094.909l.283-.977h3.672Zm-3.955 3.437c0-.592-.036-.97-.107-1.132-.065-.163-.215-.244-.45-.244-.227 0-.39.094-.488.283-.09.182-.136.547-.136 1.093v4.356c0 .58.035.957.107 1.133.072.17.221.254.45.254.26 0 .429-.104.507-.313.078-.208.117-.68.117-1.416v-4.014Zm8.887 1.582h-3.701v-.869c0-1.002.114-1.774.342-2.314.234-.547.7-1.029 1.396-1.445.697-.417 1.602-.625 2.715-.625 1.335 0 2.34.237 3.017.713.678.468 1.084 1.048 1.221 1.738.137.683.205 2.096.205 4.238V42h-3.838v-1.152c-.24.462-.553.81-.937 1.045-.378.227-.83.341-1.357.341-.69 0-1.325-.192-1.905-.576-.573-.39-.86-1.24-.86-2.549v-1.064c0-.97.154-1.63.46-1.983.306-.351 1.064-.761 2.275-1.23 1.296-.508 1.99-.85 2.08-1.025.091-.176.137-.534.137-1.075 0-.677-.052-1.116-.156-1.318a.509.509 0 0 0-.498-.312c-.267 0-.433.087-.498.263-.066.17-.098.616-.098 1.338v1.357Zm1.25 1.778c-.632.462-1 .85-1.104 1.162-.097.313-.146.762-.146 1.348 0 .67.042 1.103.127 1.299.091.195.267.293.527.293.248 0 .407-.075.479-.225.078-.156.117-.56.117-1.211v-2.666Zm9.316-6.797-.068 1.191c.286-.475.635-.83 1.045-1.064.417-.24.895-.361 1.435-.361.678 0 1.231.16 1.66.478.43.32.707.723.83 1.211.124.482.186 1.29.186 2.422V42h-3.945v-8.975c0-.892-.03-1.435-.088-1.63-.058-.196-.221-.293-.488-.293-.28 0-.456.113-.527.341-.072.222-.108.82-.108 1.797V42h-3.945V29.041h4.013Z'/%3E%3C/svg%3E");
      }
    }
    &--new {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' fill='none'%3E%3Cpath fill='%2305EB70' d='M35.876 2.904c1.4-3.872 6.848-3.872 8.248 0 1.108 3.064 5.03 3.902 7.282 1.555 2.846-2.965 7.823-.738 7.535 3.371-.228 3.253 3.015 5.62 6.023 4.397 3.8-1.545 7.445 2.524 5.52 6.16-1.526 2.878.478 6.367 3.722 6.479 4.096.141 5.78 5.348 2.548 7.882-2.558 2.007-2.139 6.013.778 7.44 3.686 1.804 3.116 7.25-.862 8.243-3.149.787-4.388 4.618-2.3 7.115 2.636 3.154-.088 7.896-4.124 7.178-3.196-.568-5.878 2.426-4.982 5.56 1.132 3.959-3.276 7.177-6.673 4.871-2.689-1.825-6.351-.186-6.8 3.043-.569 4.08-5.898 5.218-8.069 1.724-1.718-2.767-5.726-2.767-7.444 0-2.17 3.494-7.5 2.356-8.068-1.724-.45-3.23-4.112-4.867-6.801-3.042-3.397 2.305-7.805-.913-6.673-4.872.896-3.134-1.786-6.128-4.982-5.56-4.036.718-6.76-4.024-4.124-7.178 2.088-2.497.849-6.328-2.3-7.115-3.978-.994-4.548-6.439-.862-8.243 2.917-1.427 3.336-5.434.778-7.44-3.232-2.534-1.548-7.741 2.548-7.882 3.244-.112 5.248-3.6 3.723-6.48-1.927-3.635 1.72-7.704 5.519-6.159 3.008 1.224 6.251-1.144 6.023-4.397-.288-4.109 4.69-6.336 7.535-3.371 2.253 2.347 6.174 1.51 7.282-1.555Z'/%3E%3Cpath fill='%23433C3C' d='M28.952 28.402v23.716h-5.406l-3.208-10.782v10.782h-5.156V28.402h5.156l3.457 10.679V28.4h5.157Zm2.49 0h10.283v4.746h-4.116v4.497h3.852v4.512H37.61v5.215h4.526v4.746H31.442V28.402Zm35.683 0-2.739 23.716h-7.705c-.703-3.643-1.323-7.784-1.86-12.422-.244 1.982-.816 6.123-1.714 12.422h-7.661l-2.754-23.716h5.991l.63 8.276.645 7.984c.224-4.131.79-9.551 1.699-16.26h6.416c.088.693.312 3.3.673 7.822l.674 9.009a198.27 198.27 0 0 1 1.714-16.831h5.991Z'/%3E%3C/svg%3E");
      }
    }
  }
  &__name {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    transition: 0.3s;
    @include media-tablet {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  &__img {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--size);
    @include scale-in;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background: #CB0536;
      border-radius: 50%;
    }
    img {
      max-height: 190px;
      object-fit: contain;
      filter: drop-shadow(0 4px 25px rgb(0 0 0 / 0.4));
      transition: 0.4s $easeOutSine;
      @include media-laptop {
        max-height: 165px;
        filter: drop-shadow(0 4px 10px rgb(0 0 0 / 0.25));
      }
      @include media-tablet {
        max-height: 95px;
      }
    }
  }
  &__ui-swiper-buttons {
    position: absolute;
    top: 130px;
    left: -20px;
    z-index: 1;
    width: calc(930px + 35px);
    justify-content: space-between;
    @include media-laptop {
      top: 85px;
      right: 20px;
      left: 0;
      width: auto;
    }
    @include media-tablet {
      display: none;
    }
    .swiper-button {
      &-prev,
      &-next {
        color: #F5F5F5;
        filter: drop-shadow(0 4px 15px rgb(0 0 0 / 0.65));
        &.swiper-button-disabled {
          opacity: 0.7;
        }
      }
    }
  }
}
