extends ../../layout/layout

block variables
  -
    const pageName = 'main'
    const pageTitle = 'main'

    const valuesData = {
      title: 'Наши ценности',
      items: [
        {
          mods: 'values__item--reverse values__item--d-width-l values__item--accent',
          title: 'Забота',
          descr: 'Обеспечиваем безопасность продукта, заботимся о здоровье потребителя, предоставляем качественный сервис',
          img: '../../images/values/values_1.jpg'
        },
        {
          title: 'Энергия',
          descr: 'Выпускаем новые продукты, развиваемся, вовлекаем во взаимодействие ',
          img: '../../images/values/values_2.jpg'
        },
        {
          mods: 'values__item--reverse',
          title: 'Вместе',
          descr: 'Вместе делаем продукт, создаем дизайн посредством обратной связи, а также вкладываемся в благотворительность',
          img: '../../images/values/values_3.jpg'
        },
        {
          mods: 'values__item--accent',
          title: 'Добросовестность',
          titleMods: 'values__title--s',
          descr: 'Нам доверяют как производителю',
          descrMods: 'values__descr--max-w-s',
          img: '../../images/values/values_4.jpg'
        },
        {
          mods: 'values__item--reverse',
          title: 'Позитив',
          descr: 'Доставляем удовольствие вкусными и красивыми продуктами ',
          img: '../../images/values/values_5.jpg'
        },
      ]
    }

block content
  main
    +section
      .inner
        +banner
    +section('--ov-h')
      +products-slider
    +section
      .inner
        +main-about
    +section
      +values(valuesData)
    +section
      .inner
        +form
