.our-partners {
  position: relative;
  display: grid;
  grid-template-columns: 340px minmax(0, 1fr);
  gap: 35px;
  align-items: center;
  padding: 0 48px 0 110px;
  @include media-laptop {
    grid-template-columns: minmax(0, 1fr);
    gap: 20px;
    padding: 0 30px;
  }
  @include media-tablet {
    padding: 0;
    gap: 25px;
  }
  &__ui-h2 {
    @include media-tablet {
      text-align: center;
    }
  }
  &__slider {
    position: relative;
    flex-grow: 1;
    height: 150px;
    padding: 0 60px;
    overflow: hidden;
    @include media-laptop {
      margin: 0 -40px;
      padding: 0 40px;
    }
    @include media-tablet {
      margin: 0 -5px;
      padding: 0 55px;
    }
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc((100% - 20px) / 2);
    text-align: center;
    transition: opacity 0.2s;
    @include media-tablet {
      height: calc((100% - 10px) / 2);
    }
    &.swiper-slide:not(.swiper-slide-visible) {
      opacity: 0;
    }
  }
  &__ui-swiper-buttons {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    justify-content: space-between;
    color: #D9D9D9;
    .swiper-button-next,
    .swiper-button-prev {
      @include media-laptop {
        width: 30px;
        height: 30px;
      }
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 20px;
    @include media-laptop {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    @include media-tablet {
      grid-template-columns: minmax(0, 1fr);
    }
  }
  &--grid {
    grid-template-columns: minmax(0, 1fr);
    padding: 0;
    @include media-tablet {
      padding: 0 10px;
    }
    .our-partners {
      &__ui-h2 {
        padding-left: 110px;
        @include media-laptop {
          padding-left: 30px;
        }
        @include media-tablet {
          padding-left: 0;
          text-align: center;
        }
      }
      &__item {
        position: relative;
        height: auto;
        padding-bottom: 33%;
        @include media-laptop {
          padding-bottom: 29%;
        }
        @include media-tablet {
          padding-bottom: 23%;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
