.product-inner-slider {
  position: relative;
  max-width: 847px;
  margin: 0 auto;
  padding: 0 62px;
  @include media-laptop {
    max-width: 562px;
    padding: 0 50px;
  }
  @include media-tablet {
    padding: 0 10px;
  }
  .swiper-wrapper {
    height: 398px;
    @include media-laptop {
      height: 250px;
    }
    @include media-tablet {
      height: 150px;
    }
  }
  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__ui-swiper-buttons {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    justify-content: space-between;
    color: #D9D9D9;
    @include media-tablet {
      right: -5px;
      left: -5px;
    }
    .swiper-button-next,
    .swiper-button-prev {
      @include media-laptop {
        width: 30px;
        height: 30px;
      }
    }
  }
  &__container {
    position: relative;
    overflow: hidden;
  }
}
