.section {
  &:not(:first-child) {
    margin-top: 60px;
    @include media-tablet {
      margin-top: 50px;
    }
  }
  &--mt0 {
    &:not(:first-child) {
      margin-top: 0;
    }
  }
  &--mt80 {
    &:not(:first-child) {
      margin-top: 80px;
      @include media-laptop {
        margin-top: 60px;
      }
    }
  }
  &--mt40 {
    &:not(:first-child) {
      margin-top: 40px;
      @include media-tablet {
        margin-top: 30px;
      }
    }
  }
  &--ov-h {
    overflow: hidden;
  }
  &--bg {
    padding: 40px 0;
    background: grey;
  }
}
