mixin packaging-types(mods)
  -
    const baseName = 'packaging-types'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const data = [
      {
        img: '../../images/packaging-types/packaging-types_1.png',
        name: '105 гр'
      },
      {
        mod: 'packaging-types__item--xl',
        img: '../../images/packaging-types/packaging-types_2.png',
        name: '560 гр'
      }
    ]

  .packaging-types(class=allMods)&attributes(attributes)
    -for(let i=0; i<3; i++)
      each item in data
        .packaging-types__item(class=item.mod)
          .packaging-types__img: img(src=item.img alt='')
          .packaging-types__name !{item.name}
    block
