extends ../../layout/layout

block variables
  -
    const pageTitle = 'Index'

block content
  main
    .inner
      +ui-h2(pageTitle)
      br
      br
      br
      a(href='main.html') Main
      br
      br
      a(href='products.html') Каталог продукции
      br
      a(href='product-1.html') Венские вафли
      br
      a(href='product-2.html') Мяфли
      br
      a(href='product-3.html') Купелька
      br
      a(href='product-4.html') Вафельное печенье
      br
      a(href='product-5.html') Macarons
      br
      a(href='product-6.html') Мороженое
      br
      a(href='product-7.html') Безе
      br
      br
      a(href='consumers.html') Потребителям
      br
      a(href='distributors.html') Дистрибьюторам
      br
      a(href='suppliers.html') Поставщикам
      br
      br
      a(href='geography-presence.html') География присутствия
      br
      a(href='career.html') Карьера в Акульчев
      br
      a(href='about.html') О компании
      br
      a(href='contacts.html') Контакты
