.footer {
  flex: 0 1;
  padding: 40px 0 70px;
  background: #433C3C;
  color: #fff;
  @include media-laptop {
    padding: 30px 0 60px;
  }
  @include media-tablet {
    padding: 40px 0 65px;
  }
  &__inner.inner {
    position: relative;
    display: flex;
    gap: 140px;
    @media (min-width: ($mediaWidthTablet + 1)) {
      padding-right: 155px;
    }
    @include media-laptop {
      gap: 60px;
    }
    @include media-tablet {
      flex-direction: column;
      gap: 30px;
    }
  }
  &__company {
    display: flex;
    gap: 160px;
    flex-shrink: 0;
    @include media-laptop {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
    @include media-tablet {
      position: relative;
      align-items: center;
      padding: 0 24px;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    @include media-laptop {
      gap: 10px;
    }
    @include media-tablet {
      align-items: center;
    }
  }
  &__logo {
    width: 164px;
    height: 63px;
    flex-shrink: 0;
    color: #5F2321;
    &:hover {
      color: #5F2321;
    }
  }
  &__tel {
    font-size: 24px;
    @include media-tablet {
      font-size: 18px;
    }
  }
  &__link {
    font-size: 16px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  &__info {
    max-width: 300px;
    font-size: 16px;
    color: rgb(255 255 255 / 0.50);
    @include media-laptop {
      padding-top: 5px;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 20px;
        @include media-tablet {
          margin-bottom: 10px;
        }
      }
    }
  }
  &__socials {
    position: absolute;
    top: 0;
    right: 130px;
    display: grid;
    gap: 10px;
    @include media-laptop {
      right: 20px;
    }
    @include media-tablet {
      top: 10px;
      left: 0;
    }
  }
  &__social {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: #fff;
    opacity: 0.5;
    &:hover {
      color: #fff;
    }
  }
}
