footer.footer
  .inner.footer__inner
    .footer__company
      a.footer__logo(href='/')
        +ui-svg('icon_logo')
      .footer__contacts
        a.footer__tel(href='tel:88007001995') 8 800 700 19 95
        a.footer__link(href='#contact-us' data-popup-open='') Перезвонить мне
      .footer__socials
        a.footer__social(href='#'): +ui-svg('icon_vk')
    .footer__info
      p
        a(href='mailto:1995@akulchev.ru') 1995@akulchev.ru
      p 423800, Россия, Республика Татарстан, г. Набережные Челны, ул. Гидростроителей 1, а/я 5
