.ui-button {
  --bg: #{$red};
  --color: #fff;
  --active-color: rgb(255 255 255 / 0.7);
  --hover-b-sh-color: rgb(203 5 54 / 0.48);
  --active-b-sh-color: rgb(0 0 0 / 0.10);

  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  padding: 16px 28px 17px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--color);
  background: var(--bg);
  border: 0;
  border-radius: 71px;
  transition: 0.3s;
  white-space: nowrap;
  cursor: pointer;
  @include media-laptop {
    padding: 11px 25px 12px;
  }
  &:hover {
    color: var(--color);
    box-shadow: 0 0 30px 0 var(--hover-b-sh-color);
  }
  &:active {
    color: var(--active-color);
    box-shadow: 5px 5px 5px 0 var(--active-b-sh-color) inset;
  }
  &[disabled] {
    --bg: #{$grey};

    pointer-events: none;
  }
  .ui-svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
  &--max-w305 {
    width: 100%;
    max-width: 305px;
    @include media-laptop {
      max-width: 170px;
    }
  }
  &--max-w305-only {
    width: 100%;
    max-width: 305px;
  }
  &--max-w410 {
    width: 100%;
    max-width: 410px;
    @include media-laptop {
      max-width: 310px;
    }
    @include media-tablet {
      max-width: unset;
    }
  }
  &--green {
    --bg: #{$green};
    --hover-b-sh-color: rgb(0 177 82 / 0.50);
  }
  &--white {
    --bg: #fff;
    --color: #{$black};
    --active-color: rgb(67 60 60 / 0.7);
    --hover-b-sh-color: rgb(0 0 0 / 0.05);
    --active-b-sh-color: rgb(0 0 0 / 0.10);
  }
  &--text {
    padding: 0;
    background: none;
    color: var(--bg);
    border-radius: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    @include media-laptop {
      font-size: 16px;
    }
    &:hover {
      color: var(--bg);
      box-shadow: none;
      opacity: 0.6;
    }
    &:active {
      color: var(--bg);
      box-shadow: none;
    }
  }
  &--fz16 {
    font-size: 16px;
  }
}
