.contacts {
  @include media-laptop {
    padding-top: 30px;
  }
  &__tabs {
    position: relative;
    z-index: 2;
    margin-bottom: -20px;
    @include media-laptop {
      max-width: 280px;
      margin: 0 auto 30px;
    }
    &-wrapp {
      display: flex;
      justify-content: center;
      @include media-laptop {
        position: absolute;
        top: calc(100% - 30px);
        left: 0;
        width: 100%;
        padding: 40px 0 15px;
        background: #FFF;
        border-radius: 0 0 20px 20px;
        display: block;
        box-shadow: 0 0 20px 0 rgb(0 0 0 / 0.05);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
      }
    }
    &-head {
      position: relative;
      z-index: 2;
      display: none;
      padding: 15px 40px;
      background: #C80535;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      border-radius: 40px;
      box-shadow: 0 10px 15px 0 rgb(0 0 0 / 0.09);
      @include media-laptop {
        display: block;
      }
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.5 6.5L7.5 9.5L10.5 6.5' stroke='white' stroke-linecap='square'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        transition: 0.3s;
      }
    }
    &.open {
      .contacts {
        &__tabs {
          &-head {
            &::before {
              transform: translateY(-50%) rotate(180deg);
            }
          }
          &-wrapp {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
  &__tab {
    padding: 15px 70px;
    background: #F5F5F5;
    border-radius: 0 0 20px 20px;
    min-width: 280px;
    font-size: 16px;
    text-align: center;
    color: #AEA3AA;
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 0.09);
    transition: 0.3s;
    cursor: pointer;
    @include media-laptop {
      padding: 6px 10px;
      background: transparent;
      box-shadow: none;
      color: unset;
    }
    &:hover {
      color: #C80535;
    }
    &.active {
      font-weight: 700;
      background: #C80535;
      color: #fff;
      @include media-laptop {
        font-weight: unset;
        background: transparent;
        color: $red;
      }
    }
  }
  &__item {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 540px;
    min-height: 560px;
    background: #F5F5F5;
    border-radius: 60px;
    overflow: hidden;
    @include media-laptop {
      grid-template-columns: minmax(0, 1fr) 51.4%;
      border-radius: 40px;
      min-height: 359px;
    }
    @include media-tablet {
      grid-template-columns: minmax(0, 1fr);
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 65px 50px 110px;
    @include media-laptop {
      padding: 34px 60px 34px 30px;
    }
    @include media-tablet {
      padding: 20px;
    }
  }
  &__ui-h2 {
    &:not(:last-child) {
      margin-bottom: 25px;
      @include media-laptop {
        margin-bottom: 20px;
      }
    }
  }
  &__text {
    font-size: 20px;
    line-height: 1.4;
    @include media-laptop {
      font-size: 16px;
    }
    @include media-tablet {
      font-size: 14px;
    }
    p {
      &:not(:last-child) {
        margin-bottom: 0.5em;
      }
    }
  }
  &__map {
    border-radius: 60px 60px 60px 0;
    overflow: hidden;
    @include media-laptop {
      border-radius: 40px 40px 40px 0;
    }
    @include media-tablet {
      height: 240px;
      border-radius: 0 40px 40px;
    }
  }
}
