mixin contacts(mods)
  -
    const baseName = 'contacts'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .contacts(class=allMods)&attributes(attributes)
    .contacts__tabs
      .contacts__tabs-head
      .contacts__tabs-wrapp
        .contacts__tab.active Производство
        .contacts__tab Офис Казань
        .contacts__tab Офис Москва
    .contacts__body
      .swiper-wrapper
        -for(let i=0; i<3; i++)
          .contacts__item.swiper-slide
            .contacts__content
              +ui-h2('Производство в Набережных Челнах', 'contacts')
              .contacts__text
                p
                  a(href='tel:88007001995') 8 800 700 19 95
                p
                  a(href='mailto:1995@akulchev.ru') 1995@akulchev.ru
                p г. Набережные Челны ул. Магистральная, 35 ул. Полиграфическая, 32
            +map('contacts')(data-center='52.311657, 55.731943' data-zoom='10' data-markers-pin='52.223080, 55.735236; 52.456539, 55.709658')
      +ui-swiper-bullets('contacts')
    block
