.map {
  position: relative;
  &__marker {
    width: 40px;
    height: 40px;
    background: #C80535;
    border-radius: 50%;
    cursor: pointer;
    @include media-laptop {
      width: 24px;
      height: 24px;
    }
    &--xs {
      width: 20px;
      height: 20px;
    }
  }
}
