mixin form(mods)
  -
    const baseName = 'form'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  form.form(class=allMods)&attributes(attributes)
    .form__head
      .form__title Есть вопросы по&nbsp;продукции?
      .form__subtitle Оставьте свои контакты и наш специалист свяжется с вами в течении одного рабочего дня
    .form__main
      .form__fields
        +ui-input('name', '')(placeholder='Ваше имя' required data-parsley-error-message='Заполните обязательные поля')
        +ui-input('email', '', 'email')(placeholder='E-mail' required data-parsley-error-message='Заполните обязательные поля')
        +ui-input('name', '')(placeholder='+7 (___) ___-__-__' data-mask='phone' required data-parsley-error-message='Заполните обязательные поля')
        +ui-button('Отправить')(type='submit')
    .form__footnote Нажимая кнопку «Отправить», Вы принимаете условия Пользовательского соглашения
    block
