block variables
include ../blocks/mixins

doctype html
html(lang='ru')
  block head
    head
      meta(charset='utf-8')
      title=pageTitle
      meta(content='width=device-width, initial-scale=1' name='viewport')
      meta(content='ie=edge' http-equiv='x-ua-compatible')
      link(href='https://vitejs.dev/logo.svg' rel='icon' type='image/x-icon')
      script(src='https://api-maps.yandex.ru/3.0/?apikey=1f45e5c2-db9e-4adb-a847-0b7a110356ca&lang=ru_RU')
  body.transition-disabled
    .wrapper(class=(withoutHeaderFooter ? 'wrapper--pt0' : ''))
      block header
        if !withoutHeaderFooter
          include ../blocks/header/header
      block content
      block footer
        if !withoutHeaderFooter
          include ../blocks/footer/footer
      if !withoutHeaderFooter
        +popup#contact-us
          +form('contact-us', '--col')(data-thx-popup='thx-popup')
        +popup('--max-w-s')#thx-popup
          +form-thx
    block scripts
      script(type='module' src='../../js/index.js')
